@mixin header-link-padding {
  @include add-column-padding;

  @include breakpoint(xlarge) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @include breakpoint(large) {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  @media screen and #{breakpoint(large)} and (max-width: 1110px) {
    padding-left: .8rem;
    padding-right: .8rem;
  }
}

.c-header {
  background-color: rgba($ub-primary, .9);

  @include m(documents) {
    background-color: rgba($ub-primary, .9);
    min-height: $ub-nav-height;
    opacity: .9;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

.c-header-title {
  padding: 10px;
}
