.o-ld-pv-content {
  thead, tbody {
    background-color: initial !important;
    border: zero;
  }

  tr {
    background-color: initial !important;
  }

  td {
    border: 1px solid;
    @include add-top-bottom-padding()
  }
}
