{
  "root": true,
  "extends":  ["eslint:recommended", "plugin:react/recommended", "react-app", "plugin:prettier/recommended"],
  "env": {
    "node": true,
    "es6": true,
    "amd": true,
    "browser": true
  },
  "globals": {
    "$": false,
    "ga": false,
    "Modernizr": false
  },
  "plugins": ["react", "jsx-a11y", "prettier"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "arrowParens": "avoid"
    }],
    "no-unused-vars": ["error", {
      "vars": "all",
      "args": "after-used",
      "ignoreRestSiblings": false,
      "argsIgnorePattern": "^_"
    }],
    "react/jsx-no-bind": ["error", {
      "ignoreRefs": true,
      "allowArrowFunctions": false,
      "allowBind": false
    }],
    "no-console": ["warn"]
  }
}
