{
  "root": true,
  "extends":  ["eslint:recommended"],
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {
    "$": false,
    "ga": false,
    "Modernizr": false,
    "_": false,
    "Routes": false,
    "Foundation": false,
    "require": false
  },
  "parserOptions": {
    "ecmaFeatures": {
      "globalReturn": true,
      "generators": false,
      "objectLiteralDuplicateProperties": false,
      "experimentalDecorators": true,
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "react"
  ],
  "settings": {
    "import/core-modules": [],
    "import/ignore": [
      "node_modules",
      "\\.(coffee|scss|css|less|hbs|svg|json)$"
    ],
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "jsx-a11y/href-no-hash": "off",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-console": 0,
    "no-trailing-spaces": "error",
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false,
        "argsIgnorePattern": "^_"
      }
    ],
    "semi": "off",
    "quotes": [
      "error",
      "single"
    ],
    "react/jsx-no-bind": [
      "error",
      {
        "ignoreDOMComponents": true,
        "ignoreRefs": true,
        "allowArrowFunctions": false,
        "allowFunctions": false,
        "allowBind": false
      }
    ]
  }
}
