.o-assocpicker {
  tr:hover {
    cursor: pointer;
  }
}

.o-assocpicker-selections {
  margin-bottom: 15px;
}

.o-assocpicker-selection {
  background: #f2f2f2;
  border: 0 solid #d0d0d0;
  color: #303030;
  cursor: pointer;
  display: inline-block;
  display: inline-block;
  margin: 0 3px 3px 0;
  padding: 2px 6px;
  vertical-align: baseline;
  zoom: 1;
}

.o-assocpicker-close {
  border-left: 1px solid #d0d0d0;
  border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  bottom: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  right: -6px;
  text-align: center;
  text-decoration: none;
  top: 0;
  vertical-align: middle;
  width: 17px;
  z-index: 1;
}

.o-assocpicker-create {
  color: #008000;
  font-weight: bold;
  margin-left: 5px;
}

.c-admcur-items .active {
  background-color: #a0a0a0;
  border-bottom: solid 0.2px #fff;
  color: #fff;
}

.c-assocpicker-submit {
  margin: 0 10% 2em;
  width: 80%;
}
