.o-ld-columns {
  margin-left: $list-side-margin * 2;
  margin-right: $list-side-margin * 2;
}

.o-ld-columns-table {
  thead, tbody {
    background-color: initial !important;
    border: zero;
  }

  tr {
    background-color: initial !important;
  }
}
