@mixin icon-dim($height) {
  height: $height;
  width: 18 / 18 * $height;
}

.o-ld-icon {
  background-size: cover;
  display: inline-block;

  @include m(small) {
    @include icon-dim(12px);
    margin-top: -0.2rem;
    vertical-align: middle;
  }

  @include m(base) {
    @include icon-dim(18px);
    vertical-align: baseline;
  }

  @include e(wrapper) {
    $w-offset: $ld-tooltip-offset - 1.125rem / 2;
    display: inline;
    margin-left: -$w-offset;

    .o-ld-icon {
      margin-left: $w-offset;
    }
  }
}

.o-m-icon {
  background-size: contain;
  display: inline-block;
  height: 20px;
  width: 20px;
}
