.o-ld-image-wrap {
  @include m(math) {
    @include add-top-bottom-padding(0.5);
    @include clearfix;
    background: $ub-white;
    display: inline-block;
    width: 100%;

    > img {
      height: auto !important; // stylelint-disable-line declaration-no-important
      max-width: 70%;
    }
  }
}
