.o-ld-pv-content {
  thead,
  tbody {
    background-color: initial !important; // stylelint-disable-line declaration-no-important
    border: zero;
  }

  tr {
    background-color: initial !important; // stylelint-disable-line declaration-no-important
  }

  td {
    @include add-top-bottom-padding();
    border: 1px solid;
  }
}
