.nobreak {
  page-break-before: avoid !important; // stylelint-disable-line declaration-no-important
}

.u-pdf-alwaysbreak,
%u-pdf-alwaysbreak {
  page-break-before: always;
}

.u-pdf-nobreak,
%u-pdf-nobreak {
  page-break-inside: avoid;

  &::before {
    clear: both;
  }
}

.u-pdf-nobreak--around {
  page-break-after: avoid;
  page-break-before: avoid;
}
