.c-ld-keyword {
  font-weight: bold !important; // stylelint-disable-line declaration-no-important
  white-space: nowrap;

  @include m(ela) {
    color: map-get($ub-colorcodes, ela-base);
  }

  @include m(math) {
    color: map-get($ub-colorcodes, math-base);
  }
}
