.o-ld-image-wrap {
  @include m(math) {
    background: $ub-white;

    img {
      display: block;
      height: auto !important; // stylelint-disable-line declaration-no-important
      max-width: 100% !important; // stylelint-disable-line declaration-no-important
    }
  }

  @include e(img) {
    width: 100%;
  }
}
