<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

<% set_page_title 'Curriculum Tree Manager' %>

<div class="container-fluid">
  <div class="col-lg-6 border rounded-3 m-4 p-4 w-50">
    <% if @curriculum.present? %>
      <h1 class="text-center">Curriculum Tree</h1>
      <%= render_component('CurriculumEditor',
                           @curriculum.editor_props.merge(form_token: form_authenticity_token, path: lcms_engine.children_admin_curriculum_path)) %>
    <% end %>
  </div>
</div>
