<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

<% set_page_title 'Curriculum Tree Manager' %>

<div class="o-page">

  <% if @curriculum.present? %>
    <h1 class="text-center">Curriculum Tree</h1>
    <div class="row">
      <%= render_component('CurriculumEditor',
                           @curriculum.editor_props.merge(form_token: form_authenticity_token, path: lcms_engine.children_admin_curriculum_path)) %>
    </div>
  <% end %>
</div>
