<% set_page_title 'Batch Reimport' %>

<div class="container-fluid o-adm-list o-adm-documents">
  <h1 class="text-center p-4">Select Resources to Reimport</h1>
  <hr>
  <%= render 'search_form' %>
  <hr>
</div>
