// stylelint-disable max-nesting-depth, selector-no-qualifying-type, selector-max-compound-selectors, scss/at-extend-no-missing-placeholder, selector-max-id
.o-admin-components-table {
  width: 100%;

  .o-admin-components-table--header {
    border-bottom: solid 1px #5a5a5a;
    font-weight: bold;

    div {
      padding: 1em;
      text-align: center;
    }
  }

  .o-admin-components-table--info {
    display: inline-block;
    vertical-align: top;
  }

  .o-admin-components-table--location {
    @extend .o-admin-components-table--info;
    width: 15%;
  }

  .o-admin-components-table--component-type {
    @extend .o-admin-components-table--info;
    width: 15%;
  }

  .o-admin-components-table--origin {
    @extend .o-admin-components-table--info;
    width: 35%;
  }

  .o-admin-components-table--identifier {
    @extend .o-admin-components-table--info;
    width: 25%;
  }

  .o-admin-components-table--details {
    @extend .o-admin-components-table--info;
    width: 5%;
  }

  .o-admin-components-table--entry {
    margin-bottom: 1em;
    padding: 1em;

    &:nth-child(odd) {
      background-color: $ub-whitepure;
    }
  }

  .o-admin-components-table--details {
    .button {
      float: right;
      margin-bottom: -0.5em;
      margin-right: -2em;
    }
  }

  .o-admin-components-table--name {
    margin-top: 2em;

    b {
      margin-right: 1em;
    }
  }
}

.o-admin-components-search {
  border: solid 1px #ddd;
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 1em;

  .row {
    // margin-top: 1em;
    .o-admin-ctx-filters {
      padding-right: 2em;

      label {
        display: inline-block;
        font-weight: normal;
      }

      input {
        display: inline-block;
        margin-left: 1em;
        width: 6em;
      }
    }

    input[type='submit'] {
      margin-left: auto;
    }
  }

  .o-admin-search-term {
    @include placeholder(#5a5a5a);
    width: 60%;
  }

  .dropdown-pane {
    background-color: $ub-whitepure;
    box-shadow: 2px 2px 2px #aaa;
  }

  #component-type-selector,
  #component-grades {
    select {
      height: 285px;
    }

    aside {
      font-size: 0.8em;
    }
  }

  label {
    font-weight: bold;
  }
}

.o-admin-component-details {
  .o-component-details--attribute {
    border-bottom: solid 1px $ub-whitepure;
    padding: 1em;

    .o-attr-key {
      font-weight: bold;
      width: 250px;
    }
  }

  .o-component-details--content {
    background-color: $ub-whitepure;
    border-radius: 0.5em;
    margin: 2em;
    padding: 1em;
  }
}

.o-page {
  .c-hidden {
    display: none;
  }
}
//sass-lint:enable
