// stylelint-disable max-nesting-depth, selector-class-pattern

.c-admcur-results {
  .button {
    margin-bottom: 0;
  }
}

.o-curriculum-tree-editor {
  @include e(container) {
    background: $ub-whitepure;
    border-radius: 0.5em;
    margin: 2em auto;
    min-width: 50%;
    padding: 2em;

    .button {
      &[type='submit'] {
        margin: 0 25% 2em;
        width: 50%;
      }
    }
  }
  @include e(menu-info) {
    font-size: 0.9em;
    margin-top: -1em;
    text-align: center;
  }
}

.o-curriculum-tree-picker {
  @include e(container) {
    aside {
      display: inline-block;
      font-size: 0.9em;
      margin-left: 1em;
    }

    .resource_parent {
      // sass-lint:disable-line class-name-format
      display: inline-block;
      margin-left: 1em;
      margin-top: 0.5em;
      max-width: 85%;
      vertical-align: top;

      strong {
        margin-left: 0.25em;
      }
    }

    .tagsinput {
      display: inline-block;
    }
  }
}

.curriculum-picker-modal {
  &.reveal {
    background: $ub-whitepure;
    border-radius: 0.5em;
    margin: 2em auto;
    min-width: 50%;
    padding: 2em;

    h2 {
      margin-bottom: 1em;
      text-align: center;
    }
  }
}
