<% set_page_title 'Bulk Import' %>

<div class="container-fluid">
  <h2 class="text-center">Import Materials</h2>

  <div class="row">
    <%= link_to '<- Back', lcms_engine.admin_materials_path, class: 'button primary' %>
  </div>

  <%= render_component('admin/ImportStatus', @props) %>
</div>
