<% set_page_title 'Bulk Import' %>
<div class="container-fluid">
  <h2 class="text-center p-4">Import Materials</h2>
  <hr>
  <div class="row">
    <div class="col-sm">
      <%= link_to 'Back to list', lcms_engine.admin_materials_path, class: 'btn btn-success' %>
    </div>
  </div>
  <hr>
  <div class="row py-2">
    <div class="col">
      <%= render_component('ImportStatus', @props) %>
    </div>
  </div>
</div>
