<% flash.to_hash.slice('alert', 'notice').each do |name, message| %>
  <% if message.present? %>
    <% css_class = name == 'alert' ? 'alert-danger' : 'alert-success' %>
    <div class="alert alert-dismissible fade show <%= css_class %>" role="alert">
      <%= raw message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
<% end %>
