<% if current_user&.ready_to_go? %>
  <footer class="c-footer u-supported <%= add_class_for_action(:resources, :show, 'c-footer--with-sticky') %>">
    <div class="c-footer__wrap o-page__wrap--row-column c-navbar">
      <div class="c-footer__logo">
        <%= link_to root_path do %>
          <%= image_tag('lcms/engine/logo-beta.svg') %>
        <% end %>
      </div>
    </div>
  </footer>
<% end %>
