<%= simple_form_for :query, url: lcms_engine.admin_users_path, html: { method: :get } do |f| %>
  <div class='row align-bottom align-justify'>
    <%= f.input :email, label: false, required: false, placeholder: 'Search by E-mail', wrapper_html: { class: 'o-admin-search-term' } %>
    <%= f.input :access_code, label: false, required: false, placeholder: 'Enter Access Code', wrapper_html: { class: 'o-admin-search-term' } %>

    <div class="row justify-content-center">
      <div class="col-sm-1">
        <%= f.button :submit, t('ui.search'), class: 'btn btn-warning', name: nil %>
      </div>
    </div>
  </div>
<% end %>
